<h1>Locadora de Carros</h1>

<p>ID: {{user.id}}</p>
<p>Cliente: {{user.nome}}</p>
<p>Endereço: {{user.endereco}}</p>
<p>Código do Veículo: {{user.cod}}</p>
<p>Ano: {{user.ano}}</p>
<p>Número de dias: {{user.numDias}}</p>
<p>Marca: {{user.marca}}</p>
<p>Cor: {{user.cor}}</p>
<p>Modelo: {{user.modelo}}</p>
<p>Data da saída: {{user.dataSaida}}</p>
<p>Data da entrega: {{user.dataEntrega}}</p>

<a href="/" class="btn">Voltar</a>
<a href="/users/add" class="btn">Novo Aluguel</a>